.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;

  .action-buttons {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .folder,
  .note {
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  .folder {
    display: flex;
    flex-direction: column;

    .folder-header {
      display: flex;
      align-items: center;
      padding: 2px 20px;

      .toggle-icon {
        font-size: 0.85rem;
        color: #333;
        width: 16px;
      }
    }

    .folder-title {
      font-size: 1rem;
      font-weight: 600;
      color: #333;
      padding-left: 5px;
    }

    .folder-content {
      margin-left: 27px;
      padding-left: 17px;
      border-left: 1px solid #ccc;
    }
  }

  .note.opened {
    background-color: #b8b8b8;
  }

  .selected {
    border: 1px solid #b8b8b8;
    border-radius: 8px;
  }

  .note-title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    border-radius: 8px;
    padding: 2px 20px;

    &:hover {
      background-color: #b4b4b4;
    }
  }

  .note-link {
    text-decoration: none;
  }

  .root-notes-container {
    padding-left: 20px;
  }

  .context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    button {
      display: block;
      width: 100%;
      padding: 5px 10px;
      background: none;
      border: none;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .configuration-button {
    position: absolute;
    bottom: 25px;
    right: 10px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .config-menu {
    position: absolute;
    bottom: 60px;
    right: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;

    button {
      display: block;
      width: 100%;
      border: none;
      background: none;
      padding: 8px;
      text-align: left;
      cursor: pointer;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
